TE1_06/wtl_03/employees.dtd

<!ELEMENT employees (employee+)>

<!ELEMENT employee (emp_id, name, position, organization, department, salary)>

<!ELEMENT emp_id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT position (#PCDATA)>
<!ELEMENT organization (#PCDATA)>
<!ELEMENT department (#PCDATA)>
<!ELEMENT salary (#PCDATA)>
